.appContainer {
  width: 100%;
  max-width: 770px;
  margin: 0 36px;
  border: 1px solid #cfcfcf80;
  border-radius: 12px;
  padding: 24px 24px 24px 36px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
}
.formTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
}
.formTitle h1 {
  font-weight: 600;
  font-size: 18px;
}
.formTitle p {
  font-weight: 400;
  font-size: 16px;
}
