{% comment %} {{ 'redirect-loading.css' | asset_url | stylesheet_tag }} {% endcomment %}
<script src="{{ 'redirect.js' | asset_url }}" defer="defer"></script>

<div id="shopDomain" style="visibility: hidden; display: none;">{{ shop.permanent_domain }}</div>
 <div id="shopSecureUrl" style="visibility: hidden; display: none;">{{ shop.secure_url }}</div> 

<div>
  <h1>Albis Leasing redirected internally</h1>
</div>


{% schema %}
  {
    "name": "Albis Leasing Redirect",
    "target": "section"
  }
{% endschema %}